/* Main Page Section */
body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin:0;
  }
@font-face {
    font-family: 'Minecraft-Regular';
    src:url('fonts/Minecraft-Regular.ttf.woff') format('woff'),
        url('fonts/Minecraft-Regular.ttf.svg#Minecraft-Regular') format('svg'),
        url('fonts/Minecraft-Regular.ttf.eot'),
        url('fonts/Minecraft-Regular.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

.landing{
  height:100vh;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('images/vapor.jpg');
  background-size: cover;
  background-position: top center; 
  background-repeat: no-repeat;
  
    
  
}
.landing-intro{
  margin:0 auto;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  text-align:center;
  color:white;
  max-width:30rem;
}
.intro-title{
  font-weight:700;
  font-size:2.5rem;
  margin-bottom:1rem;
}
.intro-profile{
  font-weight:700;
  font-size:1.75rem;
}
.banner{
  font-family: 'Minecraft-Regular';
  position:absolute;
  top:20vh;
  left:10%;
  color:#fdf10e;
  transform:rotate(-55deg);
  animation-name: mcIntroTextAnimation;
  animation-duration: 0.8s;
  animation-iteration-count:infinite;
}

.nav-options{
  max-width:1094px;
  margin:0 auto;
  padding-top:3rem;
  padding-right: 3rem;
  text-align: right;
  color:white;
  background-size: contain;
  background-position: center; 
  background-repeat: no-repeat;
  z-index:101;
  top:1rem;
  right:3rem;

}
.nav-option-item{
  display:inline-block;
  text-decoration: none;
  color:white;
  padding: 0.7rem 1.5rem;
  margin-left:1rem;
  border:1px solid white;
  border-radius: 5px;
  transition-timing-function: ease;
}
.nav-option-item:hover{
  color:black;
  background: white;
  box-shadow: 2px 3px 8px white;
}
@keyframes scrollArrowAnimation {
  0% {
    
    transform: translatey(0px);
  }
  
  100% {
    transform: translatey(-5px);
  }
}
@keyframes mcIntroTextAnimation {
  0% {
    
    transform: scale(1)rotate(-20deg);
  }
  50% {
    transform: scale(1.2)rotate(-20deg);
  }
  100% {
    transform: scale(1)rotate(-20deg);
  }
}







/* for the about me page  */
.fallout-boy-footer{
  background:url("images/falloutboy.png");
  position:relative;
  background-size: contain;
  background-position: center; 
  background-repeat: no-repeat;
  height:12rem;
  width:12rem;
  display:block;
  margin:0 auto;
  margin-top:2rem;
}
.profile-about-me{
  text-align:center;
}
.profile-about-me-section{
  display:inline-block;
  padding:1rem;

}
.profile-about-me-section div{
  margin-bottom:2rem;
  font-weight:600;

}
.profile-about-me-section:nth-child(1){
  border-right:4px solid white;
  padding-right:calc( 2rem - 4px);
}
.profile-about-me-section:nth-child(2){
  
}
.profile-section{
background:#1b9bd5;
padding:2rem 0;

}
.profile-section-wrapper{
max-width:1000px;
color:white;
margin:0 auto;

}
.profile-title{
font-size:3rem;
  font-weight:700;
  margin-bottom:2rem;
  text-align:center;
}


  .left{
    text-align:left;

  }
  .right{
    text-align:right;
  }
  #fullstack-section{
    
    width:100%;
    height:30rem;
  }
  .stack-images{
    float:right;
    width:30rem;
  }
  #database-section{
    width:100%;
    height:25rem;
  }
  
  .skills-section{
    padding:2rem;
    margin:0 auto;
    max-width:1000px;
  }
  /*  for the languages section */
  .languages-section{
    
  }
  .languages-section-wrapper{
    
    width:100%;
    height:20rem;
  }
  .languages-list{
    font-size:2.5rem;
    max-width:35rem;
    float:right;
    text-align:right;
  }
  .tooltip {
position: relative;
display: inline-block;
}
  .tooltiptext {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    font-size:1rem;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;

    bottom: 125%;
left: 50%;
    margin-left: -60px;
  }

  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  .tooltip:hover{
    text-shadow: 0px 0px 12px #bfbfbf;
  }
  
  /* for cloud provider  */
  .cloud-providers-section{
    
  }
  .cloud-providers-section-wrapper{
      width:100%;
    height:30rem;
  }
  .cloud-animation-wrapper{
    text-align:center;
    width:35rem;
  }
  .cloud-provider-animation-wrapper{

  }
  .cloud-provider-animation{
    display:inline-block;
    text-align:left;
  }
  .cube-image{
    
    background:url("images/3d-cube-blue.svg");
    position:relative;
    background-size: contain;
    background-position: center; 
    background-repeat: no-repeat;
    height:5rem;
    width:5rem;
    display:inline-block;
  }
  .cube-image-red{
    background:url("images/3d-cube-red.svg");
    position:relative;
    background-size: contain;
    background-position: center; 
    background-repeat: no-repeat;
    height:5rem;
    width:5rem;
    display:inline-block;
  }
  .cube-offset-first{
    margin-left:-2.5rem;
    margin-top:-1.2rem;
  }
  .cube-offset-nth{
    margin-top:-1.2rem;
  }
  .cube-empty{
    height:5rem;
    width:2.5rem;
    display:inline-block;
    position:relative;
  }
  /* for the stack */
  .row{
    width:100%;
  }
  .row-column{
    padding:1rem 1rem;
    display:inline-block;
  }
  .stack-item-logo{
    position:relative;
    margin:0 auto;
    background-size: contain;
    background-position: center; 
    background-repeat: no-repeat;
    height:5rem;
    width:5rem;
  }
  #ubuntu-logo{ 
    background:url("images/ubuntu.svg");
  }
  #nginx-logo{ 
    background-image:url("images/nginx.svg");
  }
  #node-logo{ 
    background-image:url("images/nodejs.svg");
  }
  #postgres-logo{ 
    background-image:url("images/psql.svg");
  }
  #docker-logo{ 
    background-image:url("images/docker.png");
  }
  #jquery-logo{ 
    background-image:url("images/jquery.png");
  }
  #python-logo{ 
    background-image:url("images/python.svg");
  }
  #lambda-logo{ 
    background-image:url("images/lambda.svg");
  }
  /* for the 3 databases*/
  .database-animation{
    float:left;
    padding-bottom:1rem;
    width:35rem;
  }
  .content-title{
    font-weight:800;
    font-size:1.25rem;
  }
  .content-description{
    font-size:1rem;
  }
  .content-divider{margin:1rem;
  }
  .database{
    background:url("images/database.svg");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    display:inline-block;
  }
  .data{
    background:url("images/line-graph.svg");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    display:inline-block;
      margin-top:2rem;
    float:left;
    height:5rem;
    width:5rem;
    transform: translatey(0px);
animation: offsetFloat 6s ease-in-out infinite;
  }
  .spreadsheet{
    background:url("images/spreadsheet-chart.svg");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    display:inline-block;
      margin-top:2rem;
    float:left;
    height:5rem;
    width:5rem;
    transform: translatey(0px);
animation: offsetFloat0 6s ease-in-out infinite;
  }
  .main-db{
    height:10rem;
    width:10rem;
    margin:0 3rem;
    transform: translatey(0px);
animation: float 6s ease-in-out infinite;
  }
  .secondary-db-wrapper{
    height:10rem;
    display:inline-block;
  }
  .secondary-db{
    margin-top:2rem;
    float:left;
    height:5rem;
    width:5rem;
    transform: translatey(0px);
animation: offsetFloat 6s ease-in-out infinite;
  }

  /*  stolen hexagon code */


  
@keyframes float {
  0% {
    
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-5px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes offsetFloat {
  0% {
    transform: translatey(-5px);
  }
  50% {
    
    transform: translatey(0px);
  }
  
  100% {
    transform: translatey(-5px);
  }
  
}
@keyframes offsetFloat0 {
  25% {
    transform: translatey(-5px);
  }
  75% {
    
    transform: translatey(0px);
  }
  
  
  
}






.skills-section{
        padding:2rem 0;
      }
      .skills-section-title{
        font-size:3rem;
        font-weight:700;
        margin-bottom:2rem;
        text-align:center;
      }
      #cube1{
        animation-name: cubeAni1;
        animation-duration: 24s;
        animation-delay:2s;animation-iteration-count:infinite;
        visibility:hidden;
      }
      #cube2{
        animation-name: cubeAni1;
        animation-duration: 24s;
        animation-delay:3s;animation-iteration-count:infinite;
        visibility:hidden;
      }
      #cube3{
        animation-name: cubeAni1;
        animation-duration: 24s;
        animation-delay:4s;animation-iteration-count:infinite;
        visibility:hidden;
      }
      #cube4{
        animation-name: cubeAni1;
        animation-duration: 24s;
        animation-delay:4.5s;animation-iteration-count:infinite;
        visibility:hidden;
      }
      #cube5{
        animation-name: cubeAni1;
        animation-duration: 24s;
        animation-iteration-count:infinite;
        animation-delay:5s;
        visibility:hidden;
      }
      #cube6{
        animation-name: cubeAni1;
        animation-duration: 24s;
        animation-iteration-count:infinite;
        animation-delay:5.5s;
        visibility:hidden;
      }
      #cube7{
        animation-name: cubeAni1;
        animation-duration: 24s;
        animation-iteration-count:infinite;
        animation-delay:6s;
        visibility:hidden;
      }
      #cube8{
        animation-name: cubeAni1;
        animation-duration: 24s;
        animation-iteration-count:infinite;
        animation-delay:6.5s;
        visibility:hidden;
      }
      @keyframes cubeAni1 {
        0% {
          
          transform: translatey(-700px);
        }
        3% {
          transform: translatey(0px);
          visibility:visible;
        }
        80% {
          transform: translatey(0px);
          visibility:visible;
        }
        81%{
          visibility:hidden;
        }
        100% {
          visibility:hidden;
        }
      }

/* section for css relating to proejcts here */
 .project-content-title{
        font-weight:700;
        font-size:1.5rem;
        border-bottom:2px solid white;
        margin:0 40%;
        margin-bottom:0.5rem;
        display:flex;
      }
      
    .projects-section{
      background:#b12127;
      padding:4rem 0;
      min-height: 100vh;
      
    }
    .projects-section-wrapper{
      max-width:1332px;
      color:white;
      margin:0 auto;

    }
    .projects-title{
      font-size:3rem;
        font-weight:700;
        margin-bottom:2rem;
        text-align:center;
    }


/* css code here is for the contact section */
.contact-section{
  background-color:#811da4;
  height:100vh;
}
.contact-wrapper{
  max-width:1094px;
  margin:0 auto;
}
.contact-header{
  width:100%;
  height:10rem;
}
.contact-title{
  color:white;
  font-size:4rem;
  font-weight:800;
  text-transform: uppercase;
}
.contact-description{
  color:white;
  margin-top:2rem;
  font-size:1.25rem;
  
  font-weight:600;

}
table {
  margin:0 auto;
  margin-top:3rem;
  border-collapse: collapse;
  color:white;
}

th, td {
  font-size:2rem;
  padding: 0.5rem 2rem;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
td {
  padding-top:1rem;
  padding-bottom:2rem;
}


/* css code that is for the back button */
.back-button-wrapper{
  position: absolute;
  z-index: 1001;
  top: 3rem;
  text-decoration: none;
  right:3rem;
}
.back-button-image{
  
  height: 1rem;
  width:1rem;
  background-image: url('images/arrow.svg');
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  display:inline-block;
  margin-top:0.5rem;
}
.back-button-text{
  display: inline-block;
  text-decoration: none;
  color:white;
  font-size: 1.5rem;

}




/* Style the header: fixed position (always stay at the top) */
.header {
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 8px;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background:  #020003;
  width: 0%;
}
::-webkit-scrollbar {
  width: 0px;
}

.section-wrapper{
  
}
.expeirence-section{
  
  flex-direction: row;
  justify-content: center;
  min-height:100vh;

}
.section-header{
  height:100vh;
  position: absolute;
  display:inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  position: sticky;
  top: 0;
}
.section-header-right{
  
  width: 50%;
  margin-left:50%;
  
}
.section-content-right{
  width: 50%;
  margin-left:0!important;
  display:inline-block;
  min-height:100vh;
}

.expeirence-section .section-header{
  background: #1b9bd5;
  color: white;
}
.section-content{
  margin-top:-100vh;
  width: 50%;
  margin-left:50%;
  display:inline-block;
  min-height:100vh;
}

/*  for the h1 part of it   */
.section-header h1{
  font-weight: 300!important;
  font-size: 3rem;
}
.section-header .padding{
  flex-basis: 50%;
}
.section-header .footer{
  padding:2rem;
}

.expeirence-section .section-content{
  
  display:flex;
  flex-direction:column;
}

.section-content-wrapper{
  display:flex;
  flex-direction:column;
  padding:8rem;
  
}

@media  (min-width: 1200px) {
  .section-content-wrapper{
   
    padding:8rem;
  }
  .banner{
    font-size:1.5rem!important;
  }
  .landing-name{
    font-size: 3.5em;
    font-weight: 700;
  }
  .landing-descrition{
    font-size: 1.375em;
    font-weight: 700;

    max-width:30rem;
  }

}

@media  (min-width: 768px) and (max-width:1199px){
  .section-content-wrapper{
   
    padding:4rem;
  }
  .banner{
    font-size:1.5rem!important;
  }
  .landing-name{
    font-size: 3.5em;
    font-weight: 700;
  }
  .landing-descrition{
    font-size: 1.375em;
    font-weight: 700;
    max-width:30rem;
  }
}


@media  (min-width: 1px) and (max-width:767px){
  .section-header{
   margin-left:0!important;
   width:100%;
   height:6rem;
   z-index:4563;
  }
  .section-content{
    margin-left:0!important;
    width:100%;
    margin-top:0;
    
  }
  .section-content-wrapper{
   
    padding:2rem;
  }
  .section-header h1{
    font-weight: 300!important;
    font-size: 3rem;
    margin:1rem;
  }
  .section-header .padding{
    display:none;
  }
  .section-header .footer{
    display:none;
  }
  .banner{
    font-size:1rem!important;
  }
  .landing-name{
    font-size: 2.5em;
    font-weight: 700;
  }
  .landing-descrition{
    font-size: 1.375em;
    font-weight: 700;
  }
}


.section-content-wrapper .bold-text{
  font-weight: 700;
  font-style: normal;
  margin-bottom: 1.6em;
}
.b{
  font-weight: 700;
  font-style: normal;
}
/*  margin-left */
.ml{

}
/*  margin-right */
.mr{
margin-right:1rem;
}

.section-content-wrapper .header-text{
  font-size: 1.375em;
  font-weight: 700;
  line-height: 1.2em;
  margin-bottom: 1.6em;
}
.section-content-wrapper .body-text{
  line-height: 1.75em;
  
  font-style: normal;
  margin-bottom: 1.6em;
}

.skill-section{
  display:flex;
  flex-direction: row;
  justify-content: center;
  height:100vh;
  
}

.skill-section .section-header{
  background:#811da4;
  color:white;
}

.purple{
  
  background:#811da4!important;
}
.landing-wrapper{
  display:flex;
  width:100%;
  height:100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color:white;
}

.landing-name{
  margin-bottom:1rem;
  padding: 0 2rem;
  text-align:center;
}
.landing-descrition{
  padding: 0 2rem;
  text-align:center;
}

/*

<div class="landing-intro">
  <div class="intro-title">Zachary Metz</div>
  <div class="into-profile">
    Hi, I am a 4th year Computer Science and Commerce student at the Univeristy of Calgary with a passion for building cloud solutions and infastructure my goal is to develop solutions to make work and life eaiser.
  </div>
</div>
*/