.hero{
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(/images/vapor.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}