.calculator{
  max-width:600px;
  border: 1px solid #dfe1e5;
  border-radius:0.5rem;
  padding:0 0.5rem;
  margin:0 auto;
}

.calculator-display{
  padding: 1rem 0;
}

.calculator-display-ans{
  padding:0.25rem 1rem;
  font-size:2rem;
  
  text-align: right;
  border:1px solid #d9d9d9;
}
.calculator-display-perv{
  padding: 0.5rem 1rem;
  font-size:1.15rem;
  text-align: right;
}

.calc-btn{
  width:100%;
  padding:1rem 0;
  font-size:1.75rem!important;
}
.col-3{
  margin-bottom:1rem;
}
.btn-light{
  border-color: #cacaca!important;
}
#equaltion-holder-ghost{
  color:#d9d9d9;
}